<div class="kt-portlet ">
    <div class="kt-portlet__body">

        <div class="kt-demo-icon__preview">

            <div class="alert alert-outline-brand fade show" *ngIf="queueLength > 1 || queueLength < 1">
                <div class="alert-text center-text"><h2 class="center-text kt-font-brand">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon center-text">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                      <rect id="Rectangle-2" fill="#000000" opacity="0.3" x="5" y="20" width="14" height="2" rx="1"></rect>
                      <path d="M5,12.8739825 C3.27477279,12.4299397 2,10.8638394 2,9 C2,6.790861 3.790861,5 6,5 C6.11332888,5 6.22555698,5.00471299 6.33649899,5.01395368 C7.15621908,2.67628292 9.38235111,1 12,1 C14.6176489,1 16.8437809,2.67628292 17.663501,5.01395368 C17.774443,5.00471299 17.8866711,5 18,5 C20.209139,5 22,6.790861 22,9 C22,10.8638394 20.7252272,12.4299397 19,12.8739825 L19,17 C19,17.5522847 18.5522847,18 18,18 L6,18 C5.44771525,18 5,17.5522847 5,17 L5,12.8739825 Z" id="Combined-Shape" fill="#000000"></path>
                    </g>
                  </svg>
                  The kitchen has {{ queueLength }} orders in queue</h2></div>
              </div>

              <div class="alert alert-outline-brand fade show" *ngIf="queueLength === 1">
                <div class="alert-text center-text"><h2 class="center-text kt-font-brand">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon center-text">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                      <rect id="Rectangle-2" fill="#000000" opacity="0.3" x="5" y="20" width="14" height="2" rx="1"></rect>
                      <path d="M5,12.8739825 C3.27477279,12.4299397 2,10.8638394 2,9 C2,6.790861 3.790861,5 6,5 C6.11332888,5 6.22555698,5.00471299 6.33649899,5.01395368 C7.15621908,2.67628292 9.38235111,1 12,1 C14.6176489,1 16.8437809,2.67628292 17.663501,5.01395368 C17.774443,5.00471299 17.8866711,5 18,5 C20.209139,5 22,6.790861 22,9 C22,10.8638394 20.7252272,12.4299397 19,12.8739825 L19,17 C19,17.5522847 18.5522847,18 18,18 L6,18 C5.44771525,18 5,17.5522847 5,17 L5,12.8739825 Z" id="Combined-Shape" fill="#000000"></path>
                    </g>
                  </svg>
                  The kitchen has {{ queueLength }} order in queue</h2></div>
              </div>

        </div>
            
      
      <h3 class="center-text">The earnings of today are: {{ getTodayTotal() | currency: "EUR"}} </h3>
      </div>
</div>

<div class="kt-portlet ">
    <div class="kt-portlet__body">
      <h3 class="center-text">Users management:</h3>
      <br>
      <div class="kt-searchbar distance">
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                    <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" id="Path-2" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                    <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" id="Path" fill="#000000" fill-rule="nonzero"></path>
                  </g>
                </svg></span></div>
                <input type="text" class="form-control" placeholder="Search users" [(ngModel)]="userEntry">
          </div>
        </div> 
    </div>
</div>

<div class="kt-portlet"  *ngIf="(users | filter: userEntry: ['_id', 'timeRequired']).length < 1">
<div class="kt-portlet__body">
    <h5 align="center">
      No user matches your search!
    </h5>
  </div>   
</div>

<div class="kt-portlet" *ngFor="let user of users | filter: userEntry: ['_id', 'timeRequired']">
  <div class="kt-portlet__body">
    <div class="kt-widget kt-widget--user-profile-3">
      <div class="kt-widget__top">
        <div
          [class]="getUserClass(user?.role)"
        >
          {{ user?.name[0] + user?.surname[0] | uppercase }}
        </div>
        <div class="kt-widget__content">
          <div class="kt-widget__head">
            <a class="kt-widget__username">
                {{ user?.name | titlecase }} {{ user?.surname | titlecase }}
            </a>
            <div class="kt-widget__action">
              <button *ngIf="!user?.admin"
                (click)="makeAdmin(user)"
                type="button"
                class="btn btn-label-success btn-sm btn-upper btn-actions"
              >
                Promote to Cashier</button
              >&nbsp;
              <button (click)="dismiss(user)" type="button" class="btn btn-danger btn-sm btn-upper btn-actions">
                Dismiss
              </button>
            </div>
          </div>
          <div class="kt-widget__subhead">
            <a><i class="flaticon2-new-email"></i>{{ user?.username }}</a>
            <a><i class="flaticon2-calendar-3"></i>{{ user?.role | titlecase }}</a>
          </div>
          <div class="kt-widget__info">
            <div class="kt-widget__desc" *ngIf="user?.role === 'waiter'"> 
              This waiter has served a total of {{ this.customersServedByUser(user) }} customers since he was hired.
            </div>
            <div class="kt-widget__desc" *ngIf="user?.role === 'cook'"> 
                This cook has prepared a total of {{ this.dishesPrepared(user) }} dishes since he was hired.
            </div>
            <div class="kt-widget__desc" *ngIf="user?.role === 'bar' || user?.role === 'cashier'"> 
                At the moment we are not collecting statistical data for users with this role.
            </div>
          </div>
        </div>
      </div>
      
      <div *ngIf="user.role === 'waiter'">
        <div class="graph" *ngIf="this.hasHistoricData(user)">
          <h4>Statistics:</h4>
          <ngx-charts-line-chart
          [scheme]="chart.colorScheme"
          [results]="chart.multi[user?._id]"
          [gradient]="chart.gradient"
          [xAxis]="chart.showXAxis"
          [xAxisTickFormatting]="this.dateTickFormatting"
          [yAxis]="chart.showYAxis"
          [showXAxisLabel]="chart.showXAxisLabel"
          [showYAxisLabel]="chart.showYAxisLabel"
          [xAxisLabel]="chart.xAxisLabel"
          [yAxisLabel]="chart.yAxisLabel"
          [autoScale]="chart.autoScale"
          >
          </ngx-charts-line-chart>
        </div>

        <h4 class="nodata center-text" *ngIf="!this.hasHistoricData(user)">At the moment we don't have any statistical data to show about this user.</h4>
      </div>

      <div *ngIf="user.role === 'cook'">
          <div class="graph" *ngIf="this.hasHistoricData(user)">
            <h4>Statistics:</h4>
            <ngx-charts-pie-grid
            [scheme]="chart.colorScheme"
            [results]="chart.multi[user?._id]"
            >
          </ngx-charts-pie-grid>
          </div>
  
          <h4 class="nodata center-text" *ngIf="!this.hasHistoricData(user)">At the moment we don't have any statistical data to show about this user.</h4>
        </div>

      <div class="kt-widget__bottom">

        <div class="kt-widget__item" *ngIf="user?.wage">
          <div class="kt-widget__icon">
            <i class="flaticon-piggy-bank"></i>
          </div>
          <div class="kt-widget__details">
            <span class="kt-widget__title">Wage</span>
            <span class="kt-widget__value">{{ user?.wage | currency: "EUR" }}</span>
          </div>
        </div>

        <div class="kt-widget__item" *ngIf="user?.hired">
          <div class="kt-widget__icon">
            <i class="flaticon-confetti"></i>
          </div>
          <div class="kt-widget__details">
            <span class="kt-widget__title">Hired on</span>
            <span class="kt-widget__value">{{ user?.hired | date }}</span>
          </div>
        </div>

        <div class="kt-widget__item" *ngIf="user?.role === 'waiter'">
          <div class="kt-widget__icon">
            <i class="flaticon-network"></i>
          </div>
          <div class="kt-widget__details">
              <span class="kt-widget__title">Customers Served</span>
              <span class="kt-widget__value">{{ this.customersServedByUser(user) }}</span>
          </div>
        </div>

        <div class="kt-widget__item" *ngIf="user?.role === 'cook'">
            <div class="kt-widget__icon">
              <i class="flaticon-dashboard"></i>
            </div>
            <div class="kt-widget__details">
                <span class="kt-widget__title">Dishes Prepared</span>
                <span class="kt-widget__value">{{ this.dishesPrepared(user) }}</span>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
