.center-text {
	text-align: center;
	vertical-align: middle;
}

.hidden {
	display: none;
}

.graph {
	width: 100%;
	height: 20rem;
	margin-top: 1.5rem;
	margin-bottom: 4rem;
}

.btn-actions{
	margin-bottom: 0.5rem;
}

.nodata {
	margin-top: 1.5rem;
}
