.notifications-center {
	margin-top: 23%;
}

.dropdown-fix {
	right: 0.5%;
    top: 1%;
	position: fixed;
	height: 405px;
}

.notifications-list {
	position: fixed;
	overflow: auto;
	max-height: 265px;
}

.notifications-item-fix {
	width: 24rem;
	position: inherit;
}

.notifications-icon-fix {
	left: -0.7rem;
    position: relative;
    bottom: 0.2rem;
}

.clickable {
	cursor: pointer;
}