<h1 align="center" mat-dialog-title>{{name | titlecase }}</h1>
<div mat-dialog-content>
  <p align="center">Add extra ingredients</p>
  <mat-select multiple [(ngModel)]="selectedValues" placeholder="Select the ingredients">
    <mat-option #ingredientSelect *ngFor="let extra of extraList" [value]="extra._id">{{extra.name | titlecase}}</mat-option>
  </mat-select>
<br>
<br>
<p align="center">Add a note</p>
<mat-form-field>
    <input #noteInput matInput placeholder="Note" value="{{note}}">
  </mat-form-field>
<br>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="closeDialog()">Cancel</button>
  <button mat-flat-button color="primary" (click)="closeDialog(selectedValues, noteInput.value)">Edit</button>
</div>