<div class="kt-portlet">
  <!-- <div class="kt-portlet__head">
    
  </div> -->
  <div class="kt-portlet__body distance">
      <div *ngIf="!isMyTable" class="alert alert-warning" role="alert">
          <div class="alert-icon"><i class="flaticon-warning"></i></div>
          <div class="alert-text">Another waiter is assigned to this table and you are not authorized to place orders!</div>
      </div>

      <button type="button" class="btn btn-brand add-order-button" [ngClass]="{disabled: !isMyTable || sending}" (click)="placeOrder()">Send Order <i class="flaticon-paper-plane-1"></i></button>
      <button type="button" class="btn btn-outline-brand add-order-button" [ngClass]="{disabled: !isMyTable}" [routerLink]=" isMyTable? './addElements' : null" >Add element to this order <i class="flaticon2-plus-1"></i></button>
      <br>
      <div class="kt-divider">
          <span></span>
      </div>
      <br>
      <h5 align="center">Order summary:</h5>
      <br>
      <div class="kt-section">
          <div class="kt-section__content kt-section__content--border kt-section__content--fit">
              <p *ngIf="elements.length < 1" class="order-summary"><b>Nothing's here.</b><br>Elements added will be shown here!</p>
              
              <div class="kt-portlet" *ngFor="let element of elements">
                  <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                      <h3 class="kt-portlet__head-title">
                        {{element.quantity}}x {{ element.name | titlecase }} 
                      </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                      <div class="kt-portlet__head-actions">
                          <button (click)="updateElementQuantity(element.index, true)" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md separate-buttons">
                            <i class="flaticon2-add-1"></i>
                          </button>
                          <button (click)="updateElementQuantity(element.index, false)" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md separate-buttons">
                              <i class="fa fa-minus"></i>
                            </button>
                          <button (click)="openEditElementDialog(element.index)" *ngIf="element.type === 'food'" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md separate-buttons">
                              <i class="flaticon-edit"></i>
                          </button>
                          <button (click)="deleteTemporaryElement(element.index)" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md separate-buttons">
                              <i class="flaticon2-trash"></i>
                          </button>
                      </div>
                    </div>
                  </div>
                  <div class="kt-portlet__body" *ngIf="element.note || element.extra">
                    <div *ngIf="element.note">
                      <h6>Note:</h6>
                      {{element.note}}
                    </div>

                    <div *ngIf="element.extra && element.extra.length > 0">
                      <h6>Extras:</h6>
                      <ul>
                        <li *ngFor="let extra of element.extra">{{extra.name}}</li>
                      </ul>
                      
                    </div>

                  </div>
                </div>

          </div>
        </div>
  </div>
</div>