<h1 align="center" mat-dialog-title>Table {{data.tableNumber}}</h1>
<div mat-dialog-content>
  <p align="center">How many customers you wish to accomodate?</p>
<br>
  <!-- <mat-form-field> -->
      <mat-slider cdkFocusInitial #customSlider  min="1" max="{{data.seats}}" step="1" value="{{data.seats / 2}}" color="primary" thumbLabel></mat-slider>
      <!-- <input matInput placeholder={{customeSlider.value}} value={{customeSlider.value}}> -->
  <!-- </mat-form-field> -->
<br>
<p align="center">Maximum {{data.seats}} customers</p>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="closeDialog()">Cancel</button>
  <button mat-flat-button color="primary" (click)="closeDialog(customSlider.value)">Accomodate</button>
</div>