<div class="kt-portlet ">
    <div class="kt-portlet__body">
        <h2 class="center-text">Table {{ table?.tableNumber }}</h2>
        <h3 class="center-text">Customers: {{ table?.customers }}</h3>
        <h4 class="center-text">Waiter: {{ this.waiter?.name + ' ' + this.waiter?.surname | titlecase }}</h4>
        <div class="center-text">
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect id="bound" x="0" y="0" width="24" height="24"/>
              <path d="M12,22 C7.02943725,22 3,17.9705627 3,13 C3,8.02943725 7.02943725,4 12,4 C16.9705627,4 21,8.02943725 21,13 C21,17.9705627 16.9705627,22 12,22 Z" id="Mask" fill="#000000" opacity="0.3"/>
              <path d="M11.9630156,7.5 L12.0475062,7.5 C12.3043819,7.5 12.5194647,7.69464724 12.5450248,7.95024814 L13,12.5 L16.2480695,14.3560397 C16.403857,14.4450611 16.5,14.6107328 16.5,14.7901613 L16.5,15 C16.5,15.2109164 16.3290185,15.3818979 16.1181021,15.3818979 C16.0841582,15.3818979 16.0503659,15.3773725 16.0176181,15.3684413 L11.3986612,14.1087258 C11.1672824,14.0456225 11.0132986,13.8271186 11.0316926,13.5879956 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z" id="Path-107" fill="#000000"/>
          </g>
          </svg>
          Accomodated at: {{table?.occupiedAt | date: 'HH:mm'}}
        </p>
        </div>

        <button type="button" class="btn btn-brand add-order-button" (click)="openBill()">Go to bill  <i class="fa fa-dollar-sign"></i></button>
      <br>
      <div class="kt-divider">
          <span></span>
      </div>
      <br>
      <h5 align="center">Orders:</h5>
      <br>

        <!--begin::Accordion-->
        <div class="accordion accordion-solid accordion-toggle-plus">

          <!--  Completed -->
          <div class="card">
            <div class="card-header" (click)="completedTab = !completedTab">
              <div class="card-title" [ngClass]="{collapsed: !completedTab}">
                <i class="flaticon2-checkmark"></i> Completed
              </div>
            </div>
            <div class="collapse" [ngClass]="{show: completedTab}">
              <div class="card-body">

                <!-- Completed orders -->
                <!-- Order start -->
                <div class="card" *ngFor="let order of getOrdersByStatus('completed')">
                    <div class="card-header" (click)="this.toggleTab(order._id)">
                      <div class="card-title" [ngClass]="{collapsed: !isOrderTabOpened(order._id)}">
                        Order #{{order.orderNumber}}
                      </div>
                    </div>
                    <div class="collapse" [ngClass]="{show: isOrderTabOpened(order._id)}">
                      <div class="card-body">
          
                          <mat-list>
                              <h3 mat-subheader>Food</h3>
                              <mat-list-item *ngFor="let element of order.food">
                                <mat-icon mat-list-icon>restaurant</mat-icon>
                                <h4 mat-line>{{element.item.name | titlecase}}</h4>
                                <p mat-line> Quantity: {{element.quantity}} </p>
                                <p *ngIf="element.note" mat-line> Note: {{element.note}} </p>
                              </mat-list-item>
                              <mat-divider></mat-divider>
                              <h3 mat-subheader>Beverage</h3>
                              <mat-list-item *ngFor="let element of order.beverage">
                                <mat-icon mat-list-icon>local_drink</mat-icon>
                                <h4 mat-line>{{element.item.name | titlecase}}</h4>
                                <p mat-line> Quantity: {{element.quantity}} </p>
                              </mat-list-item>
                            </mat-list>
          
                      </div>
                    </div>
                  </div>
                  <!-- Order end -->

                <h6 *ngIf="getOrdersByStatus('completed')?.length < 1" class="center-text">No completed orders yet</h6>

              </div>
            </div>
          </div>

           <!--  Waiting -->
           <div class="card">
              <div class="card-header" (click)="waitingTab = !waitingTab">
                <div class="card-title" [ngClass]="{collapsed: !waitingTab}">
                  <i class="flaticon2-time"></i> Preparation
                </div>
              </div>
              <div class="collapse" [ngClass]="{show: waitingTab}">
                <div class="card-body">
  
                  <!-- Completed orders -->
                  <!-- Order start -->
                  <div class="card" *ngFor="let order of getOrdersByStatus('preparation')">
                      <div class="card-header" (click)="this.toggleTab(order._id)">
                        <div class="card-title" [ngClass]="{collapsed: !isOrderTabOpened(order._id)}">
                          Order #{{order.orderNumber}}
                        </div>
                      </div>
                      <div class="collapse" [ngClass]="{show: isOrderTabOpened(order._id)}">
                        <div class="card-body">
            
                            <mat-list>
                                <h3 mat-subheader>Food</h3>
                                <mat-list-item *ngFor="let element of order.food">
                                  <mat-icon mat-list-icon>restaurant</mat-icon>
                                  <h4 mat-line>{{element.item.name | titlecase}}</h4>
                                  <p mat-line> Quantity: {{element.quantity}} </p>
                                  <p *ngIf="element.note" mat-line> Note: {{element.note}} </p>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <h3 mat-subheader>Beverage</h3>
                                <mat-list-item *ngFor="let element of order.beverage">
                                  <mat-icon mat-list-icon>local_drink</mat-icon>
                                  <h4 mat-line>{{element.item.name | titlecase}}</h4>
                                  <p mat-line> Quantity: {{element.quantity}} </p>
                                </mat-list-item>
                              </mat-list>
            
                        </div>
                      </div>
                    </div>
                    <!-- Order end -->
  
                    <h6 *ngIf="getOrdersByStatus('preparation')?.length < 1" class="center-text">No orders on preparation yet</h6>
  
                </div>
              </div>
            </div>

        </div>
        <!--end::Accordion-->

    </div>
  </div>
