<h1 align="center" mat-dialog-title>Create a new Table</h1>
<div mat-dialog-content>
  <p align="center">Select the number of seats:</p>
<br>
  <!-- <mat-form-field> -->
      <mat-slider cdkFocusInitial #customSlider  min="1" max="30" step="1" value="2" color="primary" thumbLabel></mat-slider>
      <!-- <input matInput placeholder={{customeSlider.value}} value={{customeSlider.value}}> -->
  <!-- </mat-form-field> -->
<br>
<p align="center">Maximum 30 seats accepted</p>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="closeDialog()">Cancel</button>
  <button mat-flat-button color="primary" (click)="closeDialog(customSlider.value)">Create</button>
</div>