  <div class="kt-login__head">
    <h3 class="kt-login__title">Sign Up</h3>
    <div class="kt-login__desc">Enter your details to create your account:</div>
  </div>
  <div class="kt-login__form">
    <form class="kt-form" action="" novalidate #form="ngForm" (ngSubmit)="register(form)">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Username" name="usernameInput" autocomplete="off" [(ngModel)]="username" required minlength="1" maxlength="50" #usernameInput="ngModel">
      </div>
      <div class="kt-login__extra error-message" *ngIf="usernameInput.dirty && usernameInput.invalid">
          Username must be within 1 and 50 characters
        </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Name" name="nameInput" [(ngModel)]="name" required #nameInput="ngModel" autocomplete="off">
      </div>
      <div class="kt-login__extra error-message" *ngIf="nameInput.dirty && nameInput.invalid">
          Please insert your name
        </div>
      <div class="form-group">
          <input class="form-control" type="text" placeholder="Surname" name="surnameInput" [(ngModel)]="surname" required #surnameInput="ngModel" autocomplete="off">
        </div>
        <div class="kt-login__extra error-message" *ngIf="surnameInput.dirty && surnameInput.invalid">
            Please insert your last name
          </div>
      <div class="form-group">
        <input class="form-control" type="password" placeholder="Password" name="passwordInput" [(ngModel)]="password" required minlength="6" maxlength="150" #passwordInput="ngModel">
      </div>
      <div class="kt-login__extra error-message" *ngIf="passwordInput.dirty && passwordInput.invalid">
          Password must be long at least 6 characters
        </div>
      <div class="form-group">
        <input class="form-control" [ngClass]="{'ng-invalid-pattern': rpasswordInput.errors?.pattern}" type="password" placeholder="Confirm Password" name="rpasswordInput" [(ngModel)]="confirmPassword" #rpasswordInput="ngModel" required pattern="{{ passwordInput.value }}">
      </div>
      <div class="kt-login__extra error-message" *ngIf="rpasswordInput.dirty && rpasswordInput.invalid">
          Passwords must match
        </div>
      <div class="form-group">
          <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select name='role' [(ngModel)]="role">
            <mat-option *ngFor="let role of this.roles" [value]="role">
              {{ role | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="kt-login__extra error-message" *ngIf="!this.validRole()">
          Please select a role
        </div>
      <!-- <div class="kt-login__extra">
        <label class="kt-checkbox">
          <input type="checkbox" name="agree"> I Agree with the <a href="#">terms and conditions</a>.
          <span></span>
        </label>
      </div> -->
      <div class="kt-login__actions">
        <button id="kt_login_signup_submit" type="submit" class="btn btn-brand btn-pill btn-elevate">Sign Up</button>
        <button (click)="this.setLoginActive()" id="kt_login_signup_cancel" type="button" class="btn btn-outline-brand btn-pill">Cancel</button>
      </div>
    </form>
  </div>
<!-- </div> -->
